header {
  /* background-color: black; */
  width: 100%;
  overflow: hidden; /* Empêche les débordements */
  max-width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
  height: 10vh;
}
header:not(.scrolled) {
  background-color: transparent; /* Aucun fond par défaut */
}

/* Style lorsque l'utilisateur a défilé */
header.scrolled {
  background-image: url('/public/h.jpg'); 
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}
img {
  /* margin-top: -5px; */
  width: 120px;
  height: 70px;
}
.logo {
  margin-left: 50px;
  display: flex;
}
/* .logo h1 {
  margin-top: 9px;
  color: black;
  font-family: "Pacifico", cursive;
}
.prenom {
  color: #3572ef;
  font-family: "Pacifico", cursive;
} */
.navbar {
  margin-top: 19px;
  display: flex;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  margin-left: 250px;
  gap: 2em;
  list-style: none;
}

nav a {
  color: black;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: url("/public/cr1.cur"), auto;
  font-size: 20px;
  position: relative; /* Nécessaire pour les pseudo-éléments */
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Effet sur le texte au survol */
nav a:hover {
  color: #379777;
  transform: scale(1.1); /* Agrandit légèrement le texte */
}

/* Ligne animée sous le texte au survol */
nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px; /* Décalé légèrement sous le texte */
  width: 0%;
  height: 2px;
  color: #495E57;
  background-color: #495E57;
  transition: width 0.3s ease-in-out;
}

nav a:hover::after {
  width: 100%; /* La ligne s'étend sous le texte */

}

.navbar-icons ul{
  display: none;
}

@media  (max-width: 399px) {
  .navbar-icons ul {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    gap: 1.1rem;
    list-style: none;
    padding: 0;
    margin-left: -16px;
    /* margin-top: 12px; */
    /* margin: 10px 0; */
}
}
@media (max-width: 480px) {
    /* .header {
        margin: 0;
        padding: 0;
    } */
    /* .logo {
        gap: 1rem;
    } */
    .logo img {
        
        display: none;
    }
    .logo h1 {
        display: none;
    }
    .logo .prenom {
        display: none;
    }
    .navbar {
        display: none !important;
    }
    .navbar-icons ul {
      display: flex;
      /* align-items: center;
      justify-content: center; */
      gap: 1.1rem;
      list-style: none;
      padding: 0;
      margin-right: 50px;
      margin-top: 12px;
      /* margin: 10px 0; */
  }
  .navbar-icons a{
    text-decoration: none;
  }
  
  .navbar-icons li {
      display: flex;
      flex-direction: column; /* Met l'icône au-dessus du texte */
      align-items: center;
      text-align: center;
  }
  
  .navbar-icons i {
      font-size: 20px; /* Taille de l'icône */
      margin-bottom: 5px; /* Espacement entre l'icône et le texte */
  }
  
  .navbar-icons span {
      font-size: 12px;
      color: white;
      font-weight: 500;
  }

}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    margin: 0;
    padding: 0;
  }
  .logo {
    gap: 1rem;
  }
  .logo img {
    width: 90px;
    height: 100px;
   
  }

  .logo h1 {
    display: none;
  }
  .logo .prenom {
    display: none;
  }
  .navbar {
    display: none;
    position: absolute;
  }
  .navbar-icons ul{
    display: flex;
    margin-left: 46px;
    margin-top: 15px;
    align-items: center; /* Centrez les icônes */
    gap: 3rem;
    list-style: none;
}
.navbar-icons li a {
    color: rgb(124, 140, 194);
    font-size: 40px;
    text-decoration: none;
}
}
