.cv2 {
    padding: 40px;
    padding-top: 70px;
    background-color: white; 
    font-family: 'Roboto', sans-serif; 
}

.cv2 .title {
        color: #092635;
        text-align: center;
        font-size: 36px;
        font-style: oblique;
        animation: zoomGlow 1.5s ease-in-out; 
        text-shadow: 0px 10px 10px #111111, 0 0 20px #2a2f2f;
    }


.log {
    display: flex;
    align-items: center;
    gap: 1em;
}

.log img {
    width: 40px;
    height: 40px;
    
}


.fe {
    display: flex;
    justify-content: center;
    gap: 3em;
    color: black;
}

.f{
    width: 40%;
    margin-top: 15px;
    
    background-color: #f9f9f9; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
   

}

.ex {
    width: 40%;
    background-color: #f9f9f9; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

h2 {
    color: #1B4242; /* Vert principal */
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.date {
    color: #5C8374;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 10px;
}

.p,
.ex p {
    font-size: 14px;
    line-height: 1.5;
}

hr {
    height: 400px;
    border: 1px solid #ccc;
    margin-top: 30px;
}

.role {
    color: #378181; /* Jaune-orangé pour les rôles */
    font-weight: bold;
}

.fe h1 {
    font-size: 24px;
    color: black;
    
    text-transform: uppercase;
}
