.cv2 {
    background-color: #000;
    color: white;
    padding: 50px;
    font-family: Arial, sans-serif;
}



.fe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.f, .ex {
    background-color: #0c0c0c;
    border: 2px solid #4b7ccc;
    
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    flex: 1 1 45%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.ex:hover{
    
    background-color: rgb(22, 23, 39);
}
.f:hover{
    
    background-color: rgb(22, 23, 39);
}

/* Initial state (hidden with transformation) */
.hidden {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.8s ease-in-out;
}

/* For the right-to-left animation (Experience) */
.hidden-right {
    transform: translateX(100px);
}

/* Animation when visible */
.show {
    opacity: 1;
    transform: translateX(0);
}

.log {
    display: flex;
    align-items: center;
    gap: 10px;
}

.log img {
    width: 50px;
    height: 50px;
}

h1 {
    font-size: 1.8rem;
    color: #4b5ecc;
}

h2 {
    font-size: 1.4rem;
    color: #fff;
    margin: 10px 0;
}

.date {
    display: inline-block;
    background-color: #4b5acc;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.date:hover{
    background-color:#0d1b82 ;
}

.p, p {
    font-size: 1rem;
    color: #bfbfbf;
}

.role {
    font-weight: bold;
    color: #4b63cc;
}

hr {
    border: none;
    height: 2px;
    background-color: #724bcc;
    margin: 30px 0;
}

@media screen and (max-width: 480px) {
    .fe {
        flex-direction: column;
    }

    .f, .ex {
        flex: 1 1 100%;
    }
}
