
  
.jb{
    margin-top: 10px;
    /* color: #619483; */
    font-size: 30px;
    font-style: italic;
    /* animation: shine1 4s linear infinite, glow1 2s ease-in-out infinite alternate; */
    position: relative;
    font-weight: 700;
     
  
    
    font-family: 'Montserrat', sans-serif;
  /* font-style: normal; */
  font-weight: 700;
  line-height: 62px;
  -webkit-text-stroke: 2px #143d2f;
     background: linear-gradient(90deg, #36e6c2, #00bfa6, #057469);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Tablettes (largeur entre 601px et 1024px) */
@media screen and (max-width: 1024px) and (min-width: 601px) {
  .jb {
    font-size: 24px;
    text-shadow:
      0 0 4px #b0d1be,
      0 0 8px #1f7867;
  }
}

/* Téléphones (largeur jusqu'à 600px) */
@media screen and (max-width: 600px) {
  .jb {
    font-size: 20px;
    text-shadow:
      0 0 3px #b0d1be,
      0 0 6px #1f7867;
  }
}
