
  
.jb{
    margin-top: 10px;
    color: #495E57;
    font-size: 30px;
    font-family: __swearDisplay_6a02b1, __swearDisplay_Fallback_6a02b1;
    font-style: italic;
    /* animation: shine1 4s linear infinite, glow1 2s ease-in-out infinite alternate; */
    position: relative;
    font-weight: 700;
     
  text-shadow:
    0 0 5px #b0d1be,
    0 0 10px #1f7867,
    0 0 20px #234d34,
    0 0 40px #328956;
    
}
/* Tablettes (largeur entre 601px et 1024px) */
@media screen and (max-width: 1024px) and (min-width: 601px) {
  .jb {
    font-size: 24px;
    text-shadow:
      0 0 4px #b0d1be,
      0 0 8px #1f7867;
  }
}

/* Téléphones (largeur jusqu'à 600px) */
@media screen and (max-width: 600px) {
  .jb {
    font-size: 20px;
    text-shadow:
      0 0 3px #b0d1be,
      0 0 6px #1f7867;
  }
}
