body, html, #root, .homme {
    height: 100%;
    display: flex;
    flex-direction: column; 
    /* overflow-x: hidden; */
  }
 
.homme{
   background-image:
    /* linear-gradient(to right,
  rgba(206, 246, 229, 0.955) 0%,       
  rgba(255, 255, 255, 0.874) 20%,     
  rgba(255, 255, 255, 0.788) 50%,                       
  rgba(255, 255, 255, 0.788) 80%,       
  rgba(209, 240, 227, 0.972) 100%  ) ,   */
 url("/public/g2.gif");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    background-attachment: fixed;
    /* will-change: transform, opacity; */
}
.container{
    text-align: center;
    margin-top: 8%; 
    will-change: transform, opacity;
}
.bonjour{
    color:#dbe4e3;
    font-size: 30px;
    /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: Montserrat, sans-serif;
    

 
  /* text-shadow:
    0 0 5px #b0d1be,
    0 0 10px #bfdecb,
    0 0 20px #234d34,
    0 0 40px #bbebcf; */
  
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  -webkit-text-stroke: 1px #143d2f;
  
  /* line-height: 62px; */
  

                
}
.wave-hand::after {
    content: "👋🏻"; /* Emoji de la main */
    display: inline-block;
    
    animation: wave 1.5s infinite; /* Animation pour faire bouger la main */
}
@keyframes wave {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(20deg); }
    50% { transform: rotate(30deg); }
    75% { transform: rotate(10deg); }
}

.nom {
    color: white;
    
    font-family: 'Pacifico', cursive;
    font-size: 95px;
    text-transform: uppercase;
    overflow: hidden; /* Garde le texte dans les limites */
    white-space: nowrap; /* Empêche le retour à la ligne */
    width: 0; /* Texte caché initialement */
    margin: 0 auto; /* Centre horizontalement */
    animation: typing 4s steps(12, end) infinite, blink 0.5s step-end infinite alternate;
    text-align: center; /* Assure un alignement centré */
     
  text-shadow:   0px -6px 0 #215645,  
                
                 0px  6px 0 #215645,
                -6px  0px 0 #215645,  
                 6px  0px 0 #215645,
                
                 0 19px 1px rgba(0,0,0,.1),
                 0 0 6px rgba(0,0,0,.1),
                 0 6px 3px rgba(0,0,0,.3),
                 0 12px 6px rgba(0,0,0,.2),
                 0 18px 18px rgba(0,0,0,.25),
                 0 2px 24px rgba(0,0,0,.2),
                 0 3px 36px rgba(0,0,0,.15);
                  will-change: transform;
}

/* Animation pour simuler l'écriture */
@keyframes typing {
    0% {
        width: 0;
    }
    50% {
        width: 15ch; /* Ajustez à la longueur de "Nizar Douirek" */
    }
    75% {
        width: 15ch; 
    }
    90%{
        width: 15ch;
    }
    100% {
        width: 0; /* Disparaît ensuite */
    }
}

/* Animation pour le curseur clignotant */
@keyframes blink {
    from {
        border-right: 2px solid black;
    }
    to {
        border-right: 2px solid transparent;
    }
}


.job{
    margin-top: 10px;
    color: #495E57;
  
    font-size: 30px;
    font-family: __swearDisplay_6a02b1, __swearDisplay_Fallback_6a02b1;
    /* font-style: italic; */
    /* animation: shine1 4s linear infinite, glow1 2s ease-in-out infinite alternate; */
    position: relative;
    font-weight: 700;
     
  text-shadow:
    0 0 5px #b0d1be,
    0 0 10px #1f7867,
    0 0 20px #234d34,
    0 0 40px #328956;
    
}
@keyframes shine1 {
    to {
      background-position: 200% center;
    }
  }
  
  @keyframes glow1 {
   
    100% {
      text-shadow: 0 0 10px #2a6e58, 0 0 20px #2a6e58, 0 0 40px #2a6e58 ;
    }
  }

.btn-homme{
    background: linear-gradient(135deg, #2a6e58,  #47d8a8);
    font-size: 20px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 12px;
    border: none;
    color: white;
    cursor: url('/public/nnb.cur'), auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    box-shadow: 0 0 10px rgba(229, 228, 238, 0.721);
}

.Top,.Top1{
    cursor: url('/public/nnb.cur'), auto;
}
.Top1:hover{
    cursor: url('/public/nnb.cur'), auto;
}
.btn-homme:hover {
    cursor: url('/public/nnb.cur'), auto;
    background: linear-gradient(80deg, #207b5c, #495E57); 
    /* box-shadow: 0 0 20px 8px rgba(61, 111, 106, 0.7);  */
    transform: scale(1.05); /* Léger agrandissement */
}

.btn-homme:active {
    
    transform: scale(0.95); /* Réduit légèrement le bouton au clic */
    box-shadow: 0px 4px 8px rgba(59, 35, 101, 0.225); /* Diminue l'ombre */
}


.btn-homme a {
    color: white;
    text-decoration: none;
    font-family: __swearDisplay_6a02b1, __swearDisplay_Fallback_6a02b1;
    /* font-weight: bold; */
    cursor: url('/public/nnb.cur'), auto;
   
}
.btn-homme1:hover {
    cursor: url('/public/nnb.cur'), auto;
    /* background-color: #143d2f; */
    border: 1px solid rgba(255, 255, 255, 0.761);
    color: white;
    background: linear-gradient(135deg, #2a6e58,  #47d8a8);
    /* box-shadow: 0 0 20px 8px rgba(61, 111, 106, 0.7);  */
    transform: scale(1.05); /* Léger agrandissement */
}

.btn-homme1:active {
    
    transform: scale(0.95); /* Réduit légèrement le bouton au clic */
    box-shadow: 0px 4px 8px rgba(59, 35, 101, 0.225); /* Diminue l'ombre */
}


.btn-homme1 a {
    color: #143d2f;
    text-decoration: none;
    font-family: __swearDisplay_6a02b1, __swearDisplay_Fallback_6a02b1;
    /* font-weight: bold; */
    cursor: url('/public/nnb.cur'), auto;
}


.btn-homme1{
    background: linear-gradient(135deg, #d8ece6,  #ffffff);
    font-size: 20px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 10px;
    padding: 12px;
    border: 1px solid #105a4145;
    color: white;
    cursor: url('/public/nnb.cur'), auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    box-shadow: 0 0 10px rgba(229, 228, 238, 0.721);
    transition: all 0.6s ease;
  /* box-shadow: 0 4px 15px rgba(0, 184, 148, 0.4); */
  position: relative;
  overflow: hidden;
}
.btn-homme1:hover a{
  color: white;
}

@media screen and (max-width: 480px) {
    body, html, #root {
        
        /* overflow-x: hidden; */
      }
    .homme{
        height: 660px;
        overflow-x: hidden;
    }
    .decoration {
        content: none;
        display: none;
    }
    .container {
        margin-top: 40%; 
    }

    .nom {
        margin-top: 30px;
       
    
    text-shadow: 0px 0px 10px #0f0f0f, 0px 0px 10px #379777;
    width: auto;
    animation: typing 4s steps(12, end) infinite, blink 0.5s step-end infinite alternate;
        font-size: 35px; /* Texte principal encore plus petit */
    }

    .bonjour {
        margin-top: -30px;
        font-size: 22px; /* Texte d'accueil plus petit */
    }
     
    .job {
        margin-top: 30px;
        font-size: 24px; /* Ajustement de la taille */
        
    }

    .btn-homme {
        font-size: 15px; /* Boutons plus petits */
        padding: 10px; /* Réduction du padding */
    }
    .btn-homme1 {
        font-size: 15px; /* Boutons plus petits */
        padding: 10px; /* Réduction du padding */
    }
   .marquee-container2{
    /* margin-top: 75px !important; */
   }
    
    .marquee-container2 p{
      font-size: 25px !important;
      /* margin-top: 60px; */
    }
    .marquee-container2 {

    }
    .paHomme{
      font-size: 16px !important;
      width: 370px;
    }
}
@media screen and (min-width: 760px) and (max-width: 1060px) {
    .homme {
        height: 800px; /* Ajuste la hauteur pour les tablettes */
    }

    .container {
        margin-top: 20%; /* Ajuste la marge pour bien centrer */
    }

    .nom {
        font-size: 70px; /* Taille du texte principal ajustée pour les tablettes */
    }

    .bonjour {
        font-size: 40px; /* Texte d'accueil légèrement plus grand */
    }

    .job {
        font-size: 34px; /* Texte de job adapté */
    }

    .btn-homme {
        font-size: 28px; /* Boutons légèrement plus grands */
        padding: 8px 12px; /* Ajuste le padding pour une meilleure ergonomie */
    }

    .marq p {
        margin-top: 90px;
        font-size: 16px; /* Affiche le texte avec une petite taille */
        display: block; /* Rétablit l'affichage si masqué pour téléphones */
    }
    
}




 


.decoration {
    position: fixed;
    bottom: calc(0em - 50px);
    height: 17em;
    width: 25em;
    overflow: hidden;
    will-change: transform, opacity;
    /* z-index: 2; */
  }
  
  .carre {
    width: 84px;
    height: 84px;
    border: 1px solid #45474B;
    transform: rotate(17deg);
    position: relative;
  }
  
  .carre1 {
    bottom: calc(84px - 140px);
    left: -10px;
    animation: float 5s ease infinite;
  }
  .carre2 {
    bottom: calc(74px - 140px);
    left: -10px;
    animation: float 5s .4s ease infinite;
  }
  .carre3 {
    bottom: calc(226px - 140px);
    left: 77px;
    animation: float 5s .4s ease infinite;
  }
  
  .carre4 {
    bottom: calc(215px - 140px);
    left: 76px;
    animation: float 5s .9s ease infinite;
  }
  
  .carre5 {
    bottom: calc(367px - 140px);
    left: 163px;
    animation: float 5s .2s ease infinite;
  }
  .carre6 {
    bottom: calc(356px - 140px);
    left: 162px;
    animation: float 5s .6s ease infinite;
  }
  .carre7 {
    bottom: calc(508px - 140px);
    left: 251px;
    animation: float 5s .3s ease infinite;
  }
  .carre8 {
    bottom: calc(618px - 140px);
    left: 23px;
    animation: float 5s .4s ease infinite;
  }
  .carre9 {
    bottom: calc(675px - 140px);
    left: 110px;
    animation: float 5s .3s ease infinite;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0) rotate(17deg);
    }
    50% {
      transform: translateY(-20px) rotate(17deg);
    }
    100% {
      transform: translateY(0) rotate(17deg);
    }
  }
  
  @media (max-width: 1200px) {
    .decoration {
      zoom: .7;
    }
  }



.circle-stats-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  /* background-color: #143d2f; */
  flex-wrap: wrap;
  margin-top: 2rem;
  padding: 100px;
}

.circle-card {
  width: 250px;
  height: 250px;
  /* border-radius: 50%; */
  border-radius: 20px;
  background: linear-gradient(135deg, #dad5e2, #f0ebeb, #f4f6ee);
  color: #143d2f;
  display: flex;
  cursor: url('/public/nnb.cur'), auto;
  border: 1px solid rgb(213, 206, 206);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0,10,0,0.2);
  font-family: __swearDisplay_6a02b1, __swearDisplay_Fallback_6a02b1;
  font-style: italic;
  transition: transform 0.3s ease;
    animation: gradient-animation 7s ease infinite;
}



.circle-title {
  font-size: 34px;
  margin: 0;
  color: #143d2f;
}

.circle-number {
  font-size: 41px;
  font-weight: bold;
  margin: 0;
  color: #143d2f;
}
.iconEf {
  color: #17a273;
  font-size: 35px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.circle-card:hover .iconEf {
  transform: scale(1.2) rotate(10deg);
}
/* Responsive */
@media (max-width: 480px) {
  .circle-card {
    width: 230px;
    height: 130px;
    
  }
  .circle-stats-container{
    gap: 1.5rem;
  }
  .circle-title {
    font-size: 22px;
  }
  .circle-number {
    font-size: 22px;
  }
  .iconEf{
    font-size: 20px;
  }
}
.divPaHomme {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  text-align: center;
}

.paHomme {
  max-width: 760px;
  font-size: 21px;
  font-weight: 900;
  line-height: 1.6;
  font-family: __swearDisplay_6a02b1, __swearDisplay_Fallback_6a02b1;
}
.icnBu{
  position: relative;
  top: 2px;
}
#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}



@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Optional dark mode shadow */
@media (prefers-color-scheme: dark) {
  .circle-card {
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  }
}

 
/* .btn-homme {
    background: linear-gradient(135deg, #2a6e58, #47d8a8);
    font-size: 16px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 12px 25px;
    border: none;
    color: white;
    cursor: url('/public/nnb.cur'), auto;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    box-shadow: 0 0 10px rgba(229, 228, 238, 0.721);
} */

.btn-homme::before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.1),
        transparent
    );
    transform: skewX(-25deg);
    z-index: 2;
}

.btn-homme:hover::before {
    animation: shine 1s ease-in-out;
}

@keyframes shine {
    0% {
        left: -75%;
    }
    100% {
        left: 125%;
    }
}

.btn-homme:hover {
    background: linear-gradient(135deg, #1e5d49, #38c49a);
    transform: scale(1.07);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.btn-homme1::before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.1),
        transparent
    );
    transform: skewX(-25deg);
    z-index: 2;
}

.btn-homme1:hover::before {
    animation: shine 1s ease-in-out;
}

@keyframes shine {
    0% {
        left: -75%;
    }
    100% {
        left: 125%;
    }
}

.btn-homme1:hover {
    background: linear-gradient(135deg, #1e5d49, #38c49a);
    transform: scale(1.07);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.decPc{
  margin-top: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1rem;
}
.imgpc{
  height: 60px;
  user-select: none;
  pointer-events: none;
}
.carousel-wrapper {
  background-color: #0f4a38;
  overflow-x: hidden; 
  padding: 30px;
  position: relative;
}

.carousel {
  display: flex;
  gap: 90px;
  padding: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  cursor: grab;
  user-select: none;
  animation: scroll-left4 30s linear infinite;
      
}
.carousel:hover {
            animation-play-state: paused;
        }

.carousel:active {
  cursor: grabbing; 
}

.carousel::-webkit-scrollbar {
  display: none; 
}

.carousel-item {
  flex: 0 0 auto;
  scroll-snap-align: center;
  display: flex;
  align-items: center;
  min-width: 100px;
  cursor: pointer;
  gap: 10px;
  transition: transform 0.3s ease;
}

.carousel-item svg {
  width: 50px;
  height: 50px;
  fill: #ccc;
  transition: transform 0.3s ease, fill 0.3s ease;
}

.carousel-item p {
  margin-top: 10px;
  color: #ccc;
  font-size: 24px;
  transition: color 0.3s ease;
}

.carousel-item:hover p {
  color: #14d692;
}

.carousel-item:hover svg {
  fill: #14d692;
}
 
        
      
        
        /* Animation de défilement */
        @keyframes scroll-left4{
            0% {
                transform: translateX(0%);
            }
            100% {
                transform: translateX(-100%);
            }
        }
       
        .scrolBits{
          margin-top: 100px;
          padding-bottom: 50px;
        }
        .my-svg-icon {
  height: 60px;
  margin-left: 30px;
  fill: rgba(18, 175, 138, 1);
}
@media (max-width: 768px) {
  .my-svg-icon {
    height: 40px; /* Par exemple */
    margin-left: 15px;
  }
 
}
.marquee-container2 {
  width: 100%;
  overflow: hidden;
  
  white-space: nowrap;
  padding: 10px 0;
   background: linear-gradient(to right, #48c2a3, #0d8280);
 /* margin-top: 60px; */
  font-weight: 900;
  text-transform: uppercase;
  will-change: transform, opacity;
}

.marquee-content2 {
  display: inline-block;
  animation: scroll-left 50s linear infinite;
}


@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Bonus : pause animation au survol du container */
.marquee-container2:hover .marquee-content2 {
  animation-play-state: paused;
}
.carousel-item {
  display: inline-flex;
  align-items: center;
  color: white;
  font-size: 28px;
  font-weight: 600;
  margin: 0 30px;
  transition: color 0.3s ease;
  cursor: default;
  gap: 8px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

.carousel-item:hover {
  color: #00ffd5;
}

.carousel-item svg {
  fill: #dcf7ed;
  transition: transform 0.3s ease;
}

.carousel-item:hover svg {
  transform: scale(1.1);
  fill: #00ffd5;

}
