body, html, #root, .homme {
    height: 100%;
    display: flex;
    flex-direction: column;
    
  }
.homme{
    background-image: url("/public/g1.gif");
    background-size: cover;
    
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
}
.container{
    text-align: center;
    margin-top: 15%;
    
    
}
.bonjour{
    color: white;
    font-size: 25px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.wave-hand::after {
    content: "👋"; /* Emoji de la main */
    display: inline-block;
    
    animation: wave 1.5s infinite; /* Animation pour faire bouger la main */
}
@keyframes wave {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(20deg); }
    50% { transform: rotate(30deg); }
    75% { transform: rotate(10deg); }
}

.nom {
    color: white;
    text-shadow: 0px 0px 10px #4e4d6c, 0px 0px 10px #605EA1;
    font-family: 'Pacifico', cursive;
    font-size: 80px;
    text-transform: uppercase;
    overflow: hidden; /* Garde le texte dans les limites */
    white-space: nowrap; /* Empêche le retour à la ligne */
    width: 0; /* Texte caché initialement */
    margin: 0 auto; /* Centre horizontalement */
    animation: typing 4s steps(12, end) infinite, blink 0.5s step-end infinite alternate;
    text-align: center; /* Assure un alignement centré */
}

/* Animation pour simuler l'écriture */
@keyframes typing {
    0% {
        width: 0;
    }
    50% {
        width: 15ch; /* Ajustez à la longueur de "Nizar Douirek" */
    }
    75% {
        width: 15ch; /* Maintient l'état écrit pendant 3 secondes */
    }
    90%{
        width: 15ch;
    }
    100% {
        width: 0; /* Disparaît ensuite */
    }
}

/* Animation pour le curseur clignotant */
@keyframes blink {
    from {
        border-right: 2px solid white;
    }
    to {
        border-right: 2px solid transparent;
    }
}


.job{
    margin-top: 10px;
    color: #3b58b8;
    font-size: 30px;
    font-style: italic;
}

button {
    background-color: #3572EF;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    box-shadow: 0 0 10px rgba(229, 228, 238, 0.721);
}

button:hover {
    background: linear-gradient(80deg, #3572EF, #2a318e); /* Légère variation de couleur */
    box-shadow: 0 0 20px 8px rgba(96, 94, 161, 0.7); /* Effet lumineux plus fort */
    transform: scale(1.05); /* Léger agrandissement */
}

button:active {
    transform: scale(0.95); /* Réduit légèrement le bouton au clic */
    box-shadow: 0px 4px 8px rgba(59, 35, 101, 0.225); /* Diminue l'ombre */
}


button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


@media screen and (max-width: 480px) {
    .homme{
        height: 600px;
    }
    .container {
        margin-top: 40%; /* Déplace plus bas sur les petits écrans */
    }

    .nom {
        font-size: 40px; /* Texte principal encore plus petit */
    }

    .bonjour {
        font-size: 18px; /* Texte d'accueil plus petit */
    }

    .job {
        font-size: 20px; /* Ajustement de la taille */
        
    }

    button {
        font-size: 16px; /* Boutons plus petits */
        padding: 6px; /* Réduction du padding */
    }
   
    .marq p{
        margin-top: 100px;
        font-size: -40px;
        display: block;
    }
}
@media screen and (min-width: 760px) and (max-width: 1060px) {
    .homme {
        height: 600px; /* Ajuste la hauteur pour les tablettes */
    }

    .container {
        margin-top: 20%; /* Ajuste la marge pour bien centrer */
    }

    .nom {
        font-size: 50px; /* Taille du texte principal ajustée pour les tablettes */
    }

    .bonjour {
        font-size: 22px; /* Texte d'accueil légèrement plus grand */
    }

    .job {
        font-size: 24px; /* Texte de job adapté */
    }

    button {
        font-size: 18px; /* Boutons légèrement plus grands */
        padding: 8px 12px; /* Ajuste le padding pour une meilleure ergonomie */
    }

    .marq p {
        font-size: 16px; /* Affiche le texte avec une petite taille */
        display: block; /* Rétablit l'affichage si masqué pour téléphones */
    }
}

.marq{
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;

    width: 100%;
    margin-top: 130px;
    animation: modernMove 20s linear infinite;
}
.marq p {
    font-size: 30px;
    font-weight: bold;
    
    letter-spacing: 1px;
    font-family: 'Courier New', Courier;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
  }

  @keyframes modernMove {
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(-180%); 
    }

}

