body, html, #root, .homme {
    height: 100%;
    display: flex;
    flex-direction: column; 
    /* overflow-x: hidden; */
  }
 
.homme{
    background-image: url("/public/g2.gif");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}
.container{
    text-align: center;
    margin-top: 15%; 
}
.bonjour{
    color:#45474B;
    font-size: 30px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.wave-hand::after {
    content: "👋"; /* Emoji de la main */
    display: inline-block;
    
    animation: wave 1.5s infinite; /* Animation pour faire bouger la main */
}
@keyframes wave {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(20deg); }
    50% { transform: rotate(30deg); }
    75% { transform: rotate(10deg); }
}

.nom {
    color: white;
    text-shadow: 0px 0px 10px #0f0f0f, 0px 0px 10px #379777;
    font-family: 'Pacifico', cursive;
    font-size: 85px;
    text-transform: uppercase;
    overflow: hidden; /* Garde le texte dans les limites */
    white-space: nowrap; /* Empêche le retour à la ligne */
    width: 0; /* Texte caché initialement */
    margin: 0 auto; /* Centre horizontalement */
    animation: typing 4s steps(12, end) infinite, blink 0.5s step-end infinite alternate;
    text-align: center; /* Assure un alignement centré */
}

/* Animation pour simuler l'écriture */
@keyframes typing {
    0% {
        width: 0;
    }
    50% {
        width: 15ch; /* Ajustez à la longueur de "Nizar Douirek" */
    }
    75% {
        width: 15ch; /* Maintient l'état écrit pendant 3 secondes */
    }
    90%{
        width: 15ch;
    }
    100% {
        width: 0; /* Disparaît ensuite */
    }
}

/* Animation pour le curseur clignotant */
@keyframes blink {
    from {
        border-right: 2px solid black;
    }
    to {
        border-right: 2px solid transparent;
    }
}


.job{
    margin-top: 10px;
    color: #495E57;
    font-size: 30px;
    font-style: italic;
}

.btn-homme{
    background: linear-gradient(135deg, #2a6e58,  #47d8a8);
    font-size: 20px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    color: white;
    cursor: url("/public/cr1.cur"),auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    box-shadow: 0 0 10px rgba(229, 228, 238, 0.721);
}

.btn-homme:hover {
    cursor: url("/public/cr1.cur"),auto;
    background: linear-gradient(80deg, #379777, #495E57); /* Légère variation de couleur */
    box-shadow: 0 0 20px 8px rgba(61, 111, 106, 0.7); /* Effet lumineux plus fort */
    transform: scale(1.05); /* Léger agrandissement */
}

.btn-homme:active {
    
    transform: scale(0.95); /* Réduit légèrement le bouton au clic */
    box-shadow: 0px 4px 8px rgba(59, 35, 101, 0.225); /* Diminue l'ombre */
}


.btn-homme a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: url("/public/cr1.cur"),auto;
   
}


@media screen and (max-width: 480px) {
    .homme{
        height: 650px;
    }
    .container {
        margin-top: 50%; /* Déplace plus bas sur les petits écrans */
    }

    .nom {
        margin-top: 30px;
        font-size: 40px; /* Texte principal encore plus petit */
    }

    .bonjour {
        margin-top: -30px;
        font-size: 22px; /* Texte d'accueil plus petit */
    }
     
    .job {
        margin-top: 30px;
        font-size: 24px; /* Ajustement de la taille */
        
    }

    .btn-homme {
        font-size: 20px; /* Boutons plus petits */
        padding: 10px; /* Réduction du padding */
    }
   
    .marq p{
        /* margin-top: 100px;
        font-size: -40px;
        display: block; */
        display: none;
    }
}
@media screen and (min-width: 760px) and (max-width: 1060px) {
    .homme {
        height: 800px; /* Ajuste la hauteur pour les tablettes */
    }

    .container {
        margin-top: 20%; /* Ajuste la marge pour bien centrer */
    }

    .nom {
        font-size: 70px; /* Taille du texte principal ajustée pour les tablettes */
    }

    .bonjour {
        font-size: 40px; /* Texte d'accueil légèrement plus grand */
    }

    .job {
        font-size: 34px; /* Texte de job adapté */
    }

    .btn-homme {
        font-size: 28px; /* Boutons légèrement plus grands */
        padding: 8px 12px; /* Ajuste le padding pour une meilleure ergonomie */
    }

    .marq p {
        margin-top: 90px;
        font-size: 16px; /* Affiche le texte avec une petite taille */
        display: block; /* Rétablit l'affichage si masqué pour téléphones */
    }
}

.marq{
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;

    width: 100%;
    margin-top: 130px;
    animation: modernMove 20s linear infinite;
}
.marq p {
    font-size: 30px;
    font-weight: bold;
    
    letter-spacing: 1px;
    font-family: 'Courier New', Courier;
    color:#495E57;
    text-shadow: 2px 2px 4px #45474B;
    white-space: nowrap;
  }

  @keyframes modernMove {
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(-180%); 
    }

}
.decoration {
    position: fixed;
    bottom: calc(0em - 50px);
    height: 17em;
    width: 25em;
    overflow: hidden;
    z-index: 2;
  }
  
  .carre {
    width: 84px;
    height: 84px;
    border: 1px solid #45474B;
    transform: rotate(17deg);
    position: relative;
  }
  
  .carre1 {
    bottom: calc(84px - 140px);
    left: -10px;
    animation: float 5s ease infinite;
  }
  .carre2 {
    bottom: calc(74px - 140px);
    left: -10px;
    animation: float 5s .4s ease infinite;
  }
  .carre3 {
    bottom: calc(226px - 140px);
    left: 77px;
    animation: float 5s .4s ease infinite;
  }
  
  .carre4 {
    bottom: calc(215px - 140px);
    left: 76px;
    animation: float 5s .9s ease infinite;
  }
  
  .carre5 {
    bottom: calc(367px - 140px);
    left: 163px;
    animation: float 5s .2s ease infinite;
  }
  .carre6 {
    bottom: calc(356px - 140px);
    left: 162px;
    animation: float 5s .6s ease infinite;
  }
  .carre7 {
    bottom: calc(508px - 140px);
    left: 251px;
    animation: float 5s .3s ease infinite;
  }
  .carre8 {
    bottom: calc(618px - 140px);
    left: 23px;
    animation: float 5s .4s ease infinite;
  }
  .carre9 {
    bottom: calc(675px - 140px);
    left: 110px;
    animation: float 5s .3s ease infinite;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0) rotate(17deg);
    }
    50% {
      transform: translateY(-20px) rotate(17deg);
    }
    100% {
      transform: translateY(0) rotate(17deg);
    }
  }
  
  @media (max-width: 1200px) {
    .decoration {
      zoom: .7;
    }
  }

 