.projets{
    /* background-image: url(/public/bb.png);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: black;
    padding: 100px;
    /* height: 500px; */
}
.imgsite{
    width: 420px;
    height: 270px;
    border-radius: 20px;
}
.imgsite:hover{
  transform: scale(1.04); 
}
.sectionP h1{
    color: #46aa9d;
    cursor: pointer;
    font-family: roboto;
}
.sectionP h1:hover {
    color: #438d83;
    cursor: pointer;
  }
.sectionP2 h1{
    color: #bb6fde;
    cursor: pointer;
    font-family: roboto;
}
.sectionP2 h1:hover {
    color:#9843bf;
    cursor: pointer;
  }
.sectionP3 h1{
    color: #062a2e;
    cursor: pointer;
    font-family: roboto;
}
.sectionP3 h1:hover {
    color: #0a1c23;
    cursor: pointer;
  }
.sectionP {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    
    border-radius: 10px;
    
    box-shadow: 0 1rem 2rem -1rem black;
    background:linear-gradient(60deg, #3a716a, #06107b );
}

.visit{
    background-color: #3a716a;
    font-family: roboto;
    font-size: 17px;
}

.visit2{
    background-color: #9843bf;
    font-family: roboto;
    font-size: 17px;
}
.visit3{
    background-color: #0c4047;
    font-family: roboto;
    font-size: 17px;
}

.sectionP2 {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid white; */
    border-radius: 10px;
    background:linear-gradient(60deg, #5f2196, #a715c4 );
}
.sectionP3 {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid white; */
    border-radius: 10px;
    background:linear-gradient(60deg, #3c6c5d, #6c70ab );
}
.sectionP3 .imgsite{
    margin-top: 20px;
}
.sectionP:hover{
    border: 1px solid rgb(187, 174, 151);
}
.sectionP2:hover{
    border: 1px solid rgb(187, 174, 151);
}
.sectionP3:hover{
    border: 1px solid rgb(187, 174, 151);
}

.projet{
    
    gap: 2em;
    margin-top: 60px;
    justify-content: center;
}
.tec{
    display: flex;
    gap: 1em;
    
}   
.tec img{
    
    border-radius: 50%;
    padding: 5px;
    width: 50px;
    height: 50px;

}
.tec img:hover{
   
    border:1px solid transparent;
}
.contentP{
    width: 40%;
    
}
.contentP p{
    color: white;
}
.titreAb{
    
    color: #3572EF;
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
    font-style: oblique;
    animation: zoomGlow 1.5s ease-in-out; 
    text-shadow: 0px 10px 10px #acadb4fc, 0 0 20px #babac5;
}
.titreAb:hover{
    animation: shake 0.4s ease-in-out;
    cursor: pointer ;
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-2px, 2px); }
    50% { transform: translate(2px, -2px); }
    75% { transform: translate(-2px, -2px); }
    100% { transform: translate(0, 0); }
  }
  
 @media screen and (max-width: 768px) {
    .projets {
        padding: 20px; /* Réduction du padding pour les petits écrans */
        height: auto; /* Ajuste automatiquement la hauteur */
        background-color: black; /* Garde un contraste approprié */
    }

    .imgsite {
        width: 100%; /* Les images prennent toute la largeur disponible */
        height: auto; /* Ajustement de la hauteur proportionnelle */
        border-radius: 10px; /* Réduction des coins arrondis */
    }

    .sectionP, 
    .sectionP2, 
    .sectionP3 {
        flex-direction: column; /* Aligne les éléments verticalement */
        gap: 10px; /* Ajoute un espacement entre les éléments */
        padding: 10px; /* Réduction de l'espacement interne */
        text-align: center; /* Centrage du contenu */
    }

    .sectionP h1, 
    .sectionP2 h1, 
    .sectionP3 h1 {
        font-size: 1.2em; /* Réduction de la taille des titres */
    }

    .projet {
        flex-direction: column; /* Les projets s'empilent verticalement */
        gap: 1em; /* Réduction de l'espacement */
        margin-top: 20px; /* Réduction de l'espacement supérieur */
    }

    .tec {
        flex-direction: row; /* Les icônes techniques restent en ligne */
        justify-content: center; /* Centre les éléments */
        gap: 0.5em; /* Réduction de l'espacement */
    }

    .tec img {
        width: 40px; /* Réduction de la taille des icônes */
        height: 40px;
        padding: 3px; /* Réduction du padding */
    }

    .contentP {
        width: 100%; /* Le texte prend toute la largeur */
        text-align: center; /* Centrage du texte */
        margin-top: 20px; /* Ajoute un espacement supérieur */
    }

    .titreAb {
        font-size: 24px; /* Réduction de la taille de la police */
        margin-top: 25px; /* Réduction de l'espacement inférieur */
    }
    .projets-message {
        padding: 20px;
        max-width: 90%;
    }

    .projets-message p {
        font-size: 16px;
    }
} 
 
@media screen and (min-width: 768px) and (max-width: 1024px)  {
    .projets {
        padding: 20px; /* Réduction du padding pour les petits écrans */
        height: auto; /* Ajuste automatiquement la hauteur */
        background-color: black; /* Garde un contraste approprié */
    }

    .imgsite {
        width: 100%; /* Les images prennent toute la largeur disponible */
        height: auto; /* Ajustement de la hauteur proportionnelle */
        
        border-radius: 10px; /* Réduction des coins arrondis */
    }

    .sectionP, 
    .sectionP2, 
    .sectionP3 {
        flex-direction: column; /* Aligne les éléments verticalement */
        gap: 10px; /* Ajoute un espacement entre les éléments */
        padding: 10px; /* Réduction de l'espacement interne */
        text-align: center; /* Centrage du contenu */
    }

    .sectionP h1, 
    .sectionP2 h1, 
    .sectionP3 h1 {
        font-size: 1.5em; /* Réduction de la taille des titres */
    }

    .projet {
        flex-direction: column; /* Les projets s'empilent verticalement */
        gap: 1em; /* Réduction de l'espacement */
        margin-top: 20px; /* Réduction de l'espacement supérieur */
        width: 90%;
        margin-left: 40px;
    }

    .tec {
        flex-direction: row; /* Les icônes techniques restent en ligne */
        justify-content: center; /* Centre les éléments */
        gap: 0.5em; /* Réduction de l'espacement */
    }

    .tec img {
        width: 50px; /* Réduction de la taille des icônes */
        height: 50px;
        padding: 3px; /* Réduction du padding */
    }

    .contentP {
        width: 100%; /* Le texte prend toute la largeur */
        text-align: center; /* Centrage du texte */
        font-size: 27px;
        margin-top: 20px; /* Ajoute un espacement supérieur */
    }
    .contentP p{
        font-size: 25px;
        
    }

    .titreAb {
        font-size: 34px; /* Réduction de la taille de la police */
        margin-top: 25px; /* Réduction de l'espacement inférieur */
    }
    .visit{
        font-size: 20px;
    }
    .visit1{
        font-size: 20px;
    }
    .visit3{
        font-size: 20px;
    }
    .projets-message {
        padding: 20px;
        max-width: 90%;
    }

    .projets-message p {
        font-size: 26px;
    }
}
.projets-message {
    margin: 40px auto;
    padding: 30px;
    max-width: 600px;
    background: linear-gradient(135deg, rgba(51, 23, 193, 0.752), rgba(29, 169, 143, 0.718));
    
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0px 15px rgba(53, 114, 239, 0.2);
    animation: move 3s ease-in-out infinite;

}
@keyframes move {
    0%, 100% {
        opacity: 0.2;
        
    }
    50% {
        opacity: 1;
    }
    
}

.projets-message p {
    font-size: 18px;
    line-height: 1.8;
    color: rgb(208, 215, 244);
    font-family: 'Roboto', sans-serif;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
    margin: 0;
}

/* Animation */
/* @keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
} */
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.projet .sectionP,
.projet .sectionP2,
.projet .sectionP3 {
    opacity: 0; /* Initialement invisible */
    transform: translateY(50px); /* Départ depuis le bas */
}

.projet .sectionP.visible,
.projet .sectionP2.visible,
.projet .sectionP3.visible {
    opacity: 1; /* Lorsque l'élément devient visible */
    animation: slideUp 1s forwards; /* Animation déclenchée */
}



