


html {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
  
  cursor: url('/public/cr.cur'), auto;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* @keyframes animate-snow {
  0%,100%{
    transform:scale(.5);
  }
  50%{
    transform:scale(1);
  }
}
@keyframes animate-snow-1 {
  0%,100%{
    transform:scale(1);
  }
  50%{
    transform:scale(5);
  }
} */
