.footer {
    background: url(/public/foot.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    /* color: #fff; */
    text-align: center;
    padding: 40px 20px;
    font-family: "Poppins", sans-serif;
  }
  
  .footer .social {
    margin-bottom: 20px;
  }
  
  .footer .social h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #21634d;
  }
  
  .footer .social a {
    font-size: 30px;
    cursor: url('/public/cr1.cur'), auto;
    color: #878787;
    margin: 0 10px;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .footer .social a:hover {
    transform: scale(1.2);
    color: #1b5542;
  }
  
  .footer-break {
    border: 0;
    height: 1px;
    background: #1b5542;
    margin: 20px auto;
    width: 50%;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .footer-links li {
    display: inline-block;
  }
  
  .footer-links a {
    text-decoration: none;
    cursor: url('/public/cr1.cur'), auto;
    color: #1b5542;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #20634d;
  }
  
  .copyright {
    margin-top: 20px;
    font-size: 14px;
    opacity: 0.8;
  }
  @media (max-width: 480px) {
    .footer{
      margin-top: 40px;
    }
  }